.about__wrapper {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1194px;
  padding-left: 192px;
  padding-right: 15px;
  padding-bottom: 101px;

  &::before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 220px;
    height: 317px;
    background-image: url("../img/year-2005-desktop.png");
    background-size: cover;
    left: -18px;
    top: 6px;
  }

  & > span {
    display: block;
    font-family: "roboto-condensed", "Arial", sans-serif;
    font-weight: normal;
    color: #666666;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 22px;
  }

  & > p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 20px;
  }
}

.about__text-spoiler {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  margin-bottom: 20px;

  & i {
    display: none;
  }
}

.about__button {
  width: 180px;
  background-color: transparent;
  border: 1px solid $blue;
  color: $blue;
  margin-top: 19px;
  margin-bottom: 8px;
  padding: 14px 15px;

  &:hover {
    background-color: $blue;
    color: #ffffff;

  }
}

@media (max-width: $desktop-width) {
  .about__wrapper {
    padding-left: 211px;
    padding-right: 25px;
    padding-bottom: 74px;


    &::before {
      background-image: url(../img/year-2005-tablet.png);
      width: 244px;
      height: 362px;
      left: 0;
      top: 0;
    }

    & > span {
      font-size: 32px;
      line-height: 140.62%;
      margin-bottom: 27px;
    }

  }

  .about__text-spoiler {
    position: relative;
    display: inline;

    & i {
      display: block;
      position: absolute;
      bottom: -3px;
      right: -20px;
    }

    & span {
      display: none;
    }
  }
  .about__text--short {
    display: inline;
  }

  .about__button {
    display: block;
    margin-top: 43px;
    width: 34%;
    margin-left: 3px;
  }
}

@media (max-width: $tablet-width) {
  .about__wrapper {
    padding-left: 14px;
    padding-right: 6px;
    padding-bottom: 56px;

    &::before {
      display: none;
    }

    & > span {
      font-size: 28px;
      margin-bottom: 22px;
    }

    & > p {
      margin-bottom: 42px;
      padding-left: 3px;
    }
  }

  .about__button {
    margin-top: 28px;
    width: 60%;
  }
}
