.advantages {
  overflow: hidden;
  padding-top: 112px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin-bottom: 73px;
}

.advantages__list-wrapper {
  & ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    max-width: 1170px;
    margin: 0 auto;
  }

  & svg {
    fill: $blue;
    margin-bottom: 13px;
  }

  & li {
    min-height: 300px;
    width: 48.8%;
    box-sizing: border-box;
    border: 1px solid #EBEBEB;
    position: relative;
    display: block;
    padding: 25px;
    padding-top: 39.3px;
    padding-left: 41.5px;
    height: 100%;
    margin-bottom: 30px;
    background-color: #ffffff;

    &:hover {
      cursor: pointer;
      background-color: $blue;
    }

    &:hover span,
    &:hover svg,
    &:hover p {
      color: #ffffff;
      fill: white;
    }

    &::before {
      position: absolute;
      content: "";
      width: 3px;
      height: 100%;
      left: 0;
      top: 0;
      background-color: $blue;
    }
  }

  & span {
    display: block;
    font-family: "roboto-condensed", "Arial", sans-serif;
    font-weight: normal;
    color: $blue;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 17px
  }

  & p {
    width: 96%;
    color: #666666;
    margin: 0;
  }
}

.advantages__list-wrapper--top {
  position: relative;
  z-index: 1;

  & ul::before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 224px;
    height: 257px;
    background-image: url("../img/advantages-triangle.svg");
    background-size: cover;
    left: -172px;
    top: -66px;
  }
}

.advantages__list-wrapper--bottom {
  & ul::before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 224px;
    height: 257px;
    background-image: url("../img/advantages-triangle.svg");
    background-size: cover;
    right: -24.8%;
    top: -12px;
    transform: rotate(60deg);
  }
}

@media (max-width: $desktop-width) {
  .advantages {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 55px;
    margin-bottom: 23px;
  }

  .advantages__list-wrapper--bottom {
    & li {
      min-height: 232px;
    }
  }

  .advantages__list-wrapper {
    & li {

      width: 47.8%;
      padding-top: 23px;
      padding-left: 25px;
      padding-right: 15px;
      padding-bottom: 20px;
    }

    & li::before {
      width: 2px;
    }

    & svg {
      margin: 0;
    }

    & span {
      margin-bottom: 9px;
    }
  }

  .advantages__list-wrapper--top li {
    min-height: 305px;
  }

  .advantages__list-wrapper--bottom ul::before,
  .advantages__list-wrapper--top ul::before {
    display: none;
  }

}

@media (max-width: $tablet-width) {
  .advantages {
    padding-left: 14px;
    padding-right: 16px;
    padding-top: 37px;
    margin-bottom: 36px;
  }

  .advantages__list-wrapper {
    width: 100%;
    & li {
      width: 100%;
    }

    & span {
      font-size: 20px;
      line-height: 140.62%;
    }

    & svg {
      margin-bottom: 6px;
    }
  }

  .advantages__list-wrapper--top {
    margin-bottom: 0;
    padding-bottom: 0;

    & li {
      min-height: 310px;
      margin-bottom: 20px;
    }
  }

  .advantages__list-wrapper--bottom li {
    margin-bottom: 19px;
    padding-right: 17px;
  }


  //Ошибки в макете. Классы для PP
  .advantages__list-item--suppliers {
    height: 310px !important;
  }
  .advantages__list-item--private {
    height: 244px !important;
  }



}
