.form {
  background-color: $blue;
  position: relative;

  .img {
    width: 686px;
    position: relative;
    z-index: 1;
  }

  & fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }


  & input {
    &::-webkit-input-placeholder {
      color: #ffffff;
    }

    &:-moz-placeholder {
      color: #ffffff;
    }
  }
}

.form__wrapper {
  height: 580px;
  max-width: 1350px;
  margin: 0 auto;
  padding-top: 89px;
  display: flex;
}

.form__image-wrapper {
  width: 686px;
  position: relative;
  top: -150px;
  left: -110px;
}

.form__content {
  padding-right: 1%;
  width: 44.3%;
  min-width: 598px;
  position: relative;
  z-index: 3;

  & > :not(:first-child) {
    padding-left: 0.8%;
  }

  &::before, &::after {
    position: absolute;
    z-index: 0;
    content: "";
    width: 265px;
    height: 255px;
    background-image: url(../img/form-decoration.svg);
    right: -324px;
    top: -47px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    right: -416px;
    top: 197px;
    width: 343px;
    height: 405px;
    transform: rotate(180deg);
  }

  & > p {
    margin: 0;
    padding: 0;
    font-family: "roboto-condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 11px;
  }

  & > span {
    display: block;
    margin-bottom: 50px;
  }

  & input {
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px;
    width: 41.5%;
  }

  & textarea {
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px;
    overflow: auto;
    display: block;
    width: 100%;
    min-height: 154px;
    margin-bottom: 44px;
    resize: none;
    box-sizing: border-box;

    &::-webkit-input-placeholder {
      color: #ffffff;
    }

    &:-moz-placeholder {
      color: #ffffff;
    }
  }
}


.form__question-wrapper {
  margin: 0;
  padding: 0;
}


.form__submit-wrapper {
  display: flex;
  align-items: center;
}


.form__submit {
  width: 270px;
  margin-right: 37px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 14px 15px;

  &:hover, &:focus {
    background-color: #ffffff;
    color: $blue;
  }
}

.form__input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: 0;
  padding: 0;
}



.form__set.form__set--contacts {
  margin-bottom: 40px;
}

.form__set.form__set--question {
  width: 100%;
  max-width: 574px;
  box-sizing: border-box;
}

@media (max-width: $desktop-width) {

  .form__content::before,
  .form__content::after,
  .form__image-wrapper {
    display: none;
  }

  .form__input-wrapper {
    width: 100%;
  }

  .form__wrapper {
    height: 586px;
    padding: 78px 11.4% 0;
  }

  .form__content {
    padding: 0;
    width: 100%;

    & > p {
      font-size: 32px;
      line-height: 140.62%;
      margin-bottom: 19px;
    }

    & span {
      margin-bottom: 54px;
    }

    & input {
      width: 41.6%;
    }
  }

  .form__set.form__set--contacts {
    margin-bottom: 42px;
  }

  .form__set.form__set--question {
    min-width: 595px;
    max-width: 100%;
  }

  .form__submit {
    width: 279px;
    margin-right: 40px;
  }

  .form__question-area {
    min-height: 161px;
  }
}

@media (max-width: $tablet-width) {

  .form__input-wrapper {
    flex-wrap: wrap;
  }

  .form__wrapper {
    padding-left: 3.3%;
    padding-right: 4.6%;
    padding-top: 27px;
    height: 613px;
    min-height: 613px;
  }

  .form__content {
    min-width: 0;
    & > p {
      font-size: 28px;
      line-height: 140.62%;
      margin-bottom: 14px;
      padding-left: 4px;
    }

    & span {
      margin-bottom: 26px;
    }

    & input {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 20px;
    }

    & textarea {
      min-height: 105px;
      margin-bottom: 30px;
    }
  }

  .form__set.form__set--contacts {
    margin-bottom: 31px;
  }

  .form__set.form__set--question {
    width: 100%;
    min-width: auto;
  }


  .form__submit-wrapper {
    flex-wrap: wrap;
  }

  .form__submit {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px
  }

}



