.goods {
  background-color: $accent-dark;
  padding: 0 10px;
}

.goods__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 87px;
  padding-bottom: 127px;
  box-sizing: border-box;

  & p {
    font-family: "roboto-condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    margin: 0;
    margin-bottom: 53px;
  }

  & ul {
    //flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & li {
    height: auto;
    width: 31.5%;
    max-height: 620px;
  }

  & a {
    position: relative;
    height: 100%;
    //width: 370px;
    display: block;

    &:hover {
      box-shadow: 0 0 5px 2px $blue;
    }
  }

  & img {
    height: 100%;
  }

  & span {
    font-family: "roboto-condensed", "Arial", sans-serif;
    font-weight: normal;
    color: #ffffff;
    position: absolute;
    top: 8%;
    left: 11.6%;
    width: 155px;
    font-size: 20px;
    line-height: 30px;
  }
}

.goods__item-decoration {
  position: absolute;
  z-index: 3;
  content: "";
  width: 16.9%;
  height: 10.1%;
  background-color: $blue;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  bottom: 0;
  right: 0;
}

@media (max-width: $desktop-width) {

  .goods__wrapper {
    width: 93.8%;
    padding-top: 49px;
    padding-bottom: 31px;

    & p {
      font-size: 32px;
      line-height: 140.62%;
      padding-right: 15%;
    }

    & ul {
      flex-wrap: wrap;
    }

    & li {
      width: 100%;
      margin-bottom: 46px;
      max-height: 256px;
      display: flex;
      justify-content: center;
      max-width: 100%;
    }

    & img {
      width: 715px;
      height: 256px;
    }

    & span {
      top: 15.3%;
      left: 5.9%;
    }

    & a {
      max-width: 715px;
    }
  }

  .goods__item-decoration {
    width: 9%;
    height: 25.2%;
  }

}

@media (max-width: $tablet-width) {

  .goods__wrapper {
    width: 91%;
    padding-bottom: 34px;

    & p {
      font-size: 28px;
      padding: 0;
      margin-bottom: 43px;
      padding-left: 10px;
    }

    & li {
      margin-bottom: 30px;
    }

    & img {
      width: 290px;
      height: 256px;
    }

    & span {
      top: 8%;
      left: 12%;
    }
  }

  .goods__item-decoration {
    width: 22%;
  }

}
