.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  top: 0;

  & p {
    font-family: "roboto-condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 140.62%;
    margin: 0;
    margin-bottom: 12px;
  }

  & span {
    display: inline-block;
    width: 93%;
    margin: 0;
    margin-bottom: 33px;
  }

  & input {
    border-radius: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    padding: 16px 23px;
    box-sizing: border-box;
    margin-bottom: 30px;

    &::-webkit-input-placeholder {
      color: #ffffff;
    }

    &:-moz-placeholder {
      color: #ffffff;
    }

    &:hover {
      box-shadow: 0 0 5px 2px #ffffff;
    }
  }

  & textarea {
    border-radius: 0;
    color: #ffffff;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px;
    padding-left: 25px;
    overflow: auto;
    display: block;
    width: 100%;
    min-height: 105px;
    margin-bottom: 31px;
    resize: none;
    box-sizing: border-box;

    &::-webkit-input-placeholder {
      color: #ffffff;
    }

    &:-moz-placeholder {
      color: #ffffff;
    }

    &:hover {
      box-shadow: 0 0 5px 2px #ffffff;
    }
  }

  & fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.modal__form {
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 38px;
  margin: 0 auto;
  width: 490px;
  background-color: $blue;
  transform: translateY(-50%);
  top: 50%;

  & > * {
    width: 100%;
  }
}

.modal__close-button {
  padding: 1px 6px;
  position: absolute;
  top: 10px;
  right: 14px;
  width: auto;
  background-color: transparent;
  border: none;

  & svg {
    fill: #ffffff;
  }

  &:hover {
    box-shadow: 0 0 5px 2px #ffffff;
  }
}

.modal__submit {
  box-sizing: border-box;
  border: 1px solid #ffffff;
  margin-bottom: 33px;
  padding-top: 14px;
  padding-bottom: 15px;

  &:hover {
    background-color: #ffffff;
    color: $blue;
  }
}

.js--modal--show {
  display: block;
}

@media (max-width: $tablet-width) {
  .modal__form {
    max-width: 300px;
    padding: 30px 14px 38px;
  }
}
