.modal {
  display: none;
  padding-top: 136px;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal__form {
  box-sizing: border-box;
  padding: 30px;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 38px;
  margin: 0 auto;
  max-width: 25.5%;
  background-color: $blue;

  & > * {
    width: 100%;
  }
}

.modal__title {

  font-family: "roboto-condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 28px;
  line-height: 140.62%;
  margin: 0;
  margin-bottom: 12px;

}

.modal__sub-title {
  max-width: 400px;
  margin: 0;
  margin-bottom: 33px;
}

.modal__textarea-wrapper {
  margin: 0;
}



.modal__input {
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  padding: 16px 23px;
  box-sizing: border-box;
  margin-bottom: 30px;

  &::-webkit-input-placeholder {
    color: #ffffff;
  }

  &:-moz-placeholder {
    color: #ffffff;
  }

  &--phone {
    margin-bottom: 32px;
  }
}

.modal__question-area {
  width: 100%;
  resize: none;
  min-height: 104px;
  box-sizing: border-box;
  margin-bottom: 25px;

}

.modal__submit {
  box-sizing: border-box;
  border: 1px solid #ffffff;
  margin-bottom: 33px;
  padding-top: 14px;
  padding-bottom: 15px;

  &:hover {
    background-color: #ffffff;
    color: $blue;
  }
}

