.teaser {
  position: relative;
  overflow: hidden;
  background-color: $accent-dark;
  background-size: cover;
  background-image: url(../img/teaser-background-desktop@1x.webp), url(../img/teaser-background-desktop@1x.png);
  background-repeat: no-repeat;
  min-height: 878px;
}

.teaser__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1565px;
  margin: 0 auto;
  margin-top: 258px;
}

.teaser__button {
  position: relative;
  display: block;
  margin-left: 12.8%;
  min-height: 55px;
  width: 406px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  border: 1px solid $blue;

  &:hover,
  &:focus {
    color: darken(#ffffff, 15%);
    border: 1px solid $blue;
    background-color: lighten($blue, 10%);
  }

  & span:last-child {
    display: none;
  }
}

.teaser__scroll-button {
  width: 101px;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  font-family: "ptmono", "Arial", sans-serif;
  font-weight: normal;
  text-transform: none;
  font-size: 14px;
  line-height: 16px;
  transform: rotate(-90deg);
  left: 32px;
  top: 465px;
  opacity: 0.5;
  letter-spacing: normal;

  &:hover,
  &:focus {
    border: none;
    background-color: transparent;
    color: white;
    opacity: 1;
  }
}

.teaser__text-wrapper {
  width: 49%;
  padding-left: 4.55%;
  padding-top: 55px;

  & h1 {
    margin: 0;
    padding: 0;
    font-family: "roboto-condensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 0.07em;
    line-height: 94px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  & p {
    width: 607px;
    margin: 0;
    position: relative;
    padding-left: 12.8%;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 43px;

    &::before {
      position: absolute;
      content: "";
      width: 8.8%;
      height: 2px;
      background-color: #fff;
      top: 16px;
      left: 0.4%;
    }
  }
}

.teaser__image-wrapper {
  position: relative;
  width: 45%;
  height: 515px;

  &::before {
    position: absolute;
    content: "";
    width: 95%;
    height: 124.3%;
    top: -138px;
    left: -8px;
    background-image: url(../img/teaser-decoration.svg);
    background-size: cover;
    z-index: 0;
  }

  & img {
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
  }
}


@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .teaser {
    background-image: url(../img/teaser-background-desktop@2x.webp), url(../img/teaser-background-desktop@2x.png);
  }
}


@media (max-width: $desktop-width) {
  .teaser__scroll-button {
    display: none;
  }

  .teaser {
    min-height: 686px;
    background-image: url(../img/teaser-background-tablet@1x.webp), url(../img/teaser-background-tablet@1x.png);
    background-size: cover;
  }

  .teaser__wrapper {
    justify-content: space-between;
    position: relative;
    padding-left: 11.5%;
    margin-top: 112px;
  }

  .teaser__text-wrapper {
    padding: 0;

    & h1 {
      width: 300px;
      font-size: 60px;
      line-height: 70px;
      letter-spacing: 0.07em;
      margin-bottom: 32px;
      margin-top: 74px;
    }

    & p {
      width: 350px;
      font-size: 18px;
      line-height: 156.8%;
      padding-left: 50px;
      padding-right: 0;
      margin-bottom: 54px;

      &::before {
        width: 8.5%;
      }
    }
  }

  .teaser__button {
    margin-left: 51px;
    width: 379px;
  }

  .teaser__image-wrapper {
    width: 38%;
    height: 340px;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: 0 0;
    }

    &::before {
      width: 388.99px;
      height: 502.99px;
      top: -150px;
      left: -70px;
    }
  }
}

@media (min-resolution: 144dpi) and (max-width: $desktop-width), (min-resolution: 1.5dppx) and (max-width: $desktop-width) {
  .teaser {
    background-image: url(../img/teaser-background-tablet@2x.webp), url(../img/teaser-background-tablet@2x.png);
  }
}

@media (max-width: $tablet-width) {

  .teaser {
    min-height: 647px;
    background-image: url(../img/teaser-background-mobile@1x.webp), url(../img/teaser-background-mobile@1x.png);
  }

  .teaser__wrapper {
    padding-left: 4.7%;
    margin-top: 92px;
    padding-bottom: 20px;
    flex-direction: column-reverse;
  }

  .teaser__text-wrapper {
    width: 100%;
    padding-top: 0;
    position: relative;
    z-index: 3;

    & h1 {
      margin-top: -27px;
      font-size: 40px;
      line-height: 47px;
      letter-spacing: 0.07em;
      margin-bottom: 29px;
    }

    & p {
      font-size: 16px;
      width: 245px;
      margin-bottom: 42px;

      &::before {
        width: 11%;
        top: 14px;
        left: 1%;
      }
    }
  }

  .teaser__image-wrapper {
    height: 220px;
    width: 301px;
    max-height: 220px;
    align-self: flex-end;

    &:before {
      top: -138px;
      left: 133px;
      width: 505.02px;
      height: 482.92px;
    }

    & img {
      object-position: 8px 0;
    }
  }

  .teaser__button {
    margin-left: 3px;
    width: 94%;
    min-height: 55px;

    & span:first-child {
      display: none;
    }

    & span:last-child {
      display: inline;
    }
  }
}

@media (min-resolution: 144dpi) and (max-width: $tablet-width), (min-resolution: 1.5dppx) and (max-width: $tablet-width) {
  .teaser {
    background-image: url(../img/teaser-background-mobile@2x.webp), url(../img/teaser-background-mobile@2x.png);
  }
}
