.accordion input {
   display: none;
 }

@media (max-width: $tablet-width) {
  .accordion input {
    display: block;
  }

  .accordion input:focus + label:after {
    box-shadow: 0 0 5px 2px $blue;
  }


  .accordion input + label:after,
  .accordion input + label:hover:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    right: 5.5%;
    transform: translateY(-50%);
    top: 50%;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    //background-color: green;
  }

  .accordion input:checked + label:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    right: 5.5%;
    //transform: translateY(-50%);
    top: 100%;
    background-image: url("../img/minus.svg");
    background-repeat: no-repeat;
  }

  .accordion div {
    margin-top: -1px;
    overflow: hidden;
    //height: 0;
    position: relative;
    z-index: 10;
    padding-top: 20px;
  }
  .accordion input:checked ~ div {
    display: block;
    min-height: 156px;
  }

  .accordion input ~ div {
    display: none;
  }


}
