.agreement {
  position: relative;
  padding-left: 32px;
  width: 225px;
  cursor: pointer;

  & label {
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
  }

  & input + label::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    top: 8px;
    border: 1px solid #ffffff;
  }

  & input:focus + label::before,
  & input:hover + label::before {
    box-shadow: 0 0 5px 2px #ffffff;
  }

  & input:checked + label::after {
    content: " ";
    position: absolute;
    width: 7.5px;
    height: 4.5px;
    background-image: url("../img/chekbox-ok.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 4px;
    top: 13px;
  }
}

.agreement--modal {
  width: 80%;
  padding-left: 50px;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;

  & input + label::before {
    top: 2px;
  }

  & input:checked + label::after {
    top: 7px;
  }
}
