.button {
  background-color: $blue;
  color: #ffffff;
  font-family: "roboto-condensed", "Arial", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;

  font-size: 14px;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  min-height: 40px;
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: $blue;
    border-color: $blue;
    color: #ffffff;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
