.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & p {
    margin: 0;
    & span {
      display: block;
    }
  }
}

.logo__svg {
  width: 52px;
  height: 52px;
}

.logo__title {
  font-family: "roboto-condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
}

.logo__description {
  font-family: "roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: lowercase;
  color: #788891;
}


.logo--page-footer {
  width: 100%;
  display: block;
  max-width: 217px;
  flex-wrap: wrap;
  padding-bottom: 47px;


  & .logo__svg {
    margin-right: 6px;
  }

  & .logo__title {
    color: #203C42;
  }

  & p {
    width: 148px;
    display: inline-block;
    position: relative;
    top: -6px;
  }
}



@media (max-width: $desktop-width) {
  .logo--page-footer {
    padding: 0;
  }

}


@media (max-width: $tablet-width) {

  .logo--page-footer {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  .logo--page-footer p {
    position: static;
  }

  .logo--page-footer .logo__svg {
    margin-right: 13px;
  }

}
