.page-footer {
  width: 100%;
  min-width: 320px;
  background-color: #FAFAFA;
  margin-top: auto;
}

.page-footer__wrapper {
  display: flex;
  justify-content: center;
  max-width: 2560px;
  margin: 0 auto;
  padding-top: 62px;
}

.page-footer__left-wrapper {
  //width: 675px;
  width: 35%;
  & > * {
    padding-right: 50px;
    //padding-left: 37.3%;
    //box-sizing: border-box;
  }
}

.page-footer__left-top-content {
  padding-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  & ul {
    width: 112px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 130px;
    flex-wrap: wrap;
  }

  & li {
    margin-right: 10px;
  }
}

.page-footer__left-top-content,
.page-footer__middle-top-content,
.page-footer__right-top-content {
  box-sizing: border-box;
  height: 203px;
  border-bottom: 1px solid rgba(98, 105, 98, 0.2);
}

.page-footer__left-bottom-content,
.page-footer__middle-bottom-content,
.page-footer__right-bottom-content {
  color: #1b2d37;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.5;
  padding-top: 14px;
  padding-bottom: 13px;
  min-height: 51px;
  text-transform: uppercase;

  & p {
    margin: 0;
    padding: 0;

    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
  }

  & a {
    color: #1b2d37;
  }
}

.page-footer__left-bottom-content {
  display: flex;
  & span {
    right: -75px;
    position: relative;
    display: inline-block;
  }
}

.page-footer__middle-wrapper {
  width: 658px;
  //width: 34.3%;
}

.page-footer__right-wrapper {
  //width: 587px;
  width: 30.5%;
  & > * {
    padding-right: 10px;
    box-sizing: border-box;
  }
}

.page-footer__middle-bottom-content {

  padding-left: 23%;
  padding-right: 14%;
}

.page-footer__right-bottom-content {
  text-align: center;
  & p {
    position: relative;
    right: 53px;
  }
}

.page-footer__link {

  &:hover {
    color: $blue;
  }

  & svg {
    fill: #cdcdcd;
    width: 27px;
    height: 27px;
  }

  &:hover svg {
    fill: $blue;
  }
}

@media (max-width: $desktop-width) {
  .page-footer__wrapper {
    flex-wrap: wrap;
    padding-top: 16px;
  }

  .page-footer__left-wrapper {
    align-items: center;
    position: relative;
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
    padding-bottom: 20px;
    padding-top: 3px;
    padding-left: 3.3%;
    margin-bottom: 35px;
    & > * {
      padding: 0;
    }
  }

  .page-footer__left-bottom-content span {
    position: static;
  }

  .page-footer__middle-wrapper,
  .page-footer__right-wrapper {
    width: 50%;
  }

  .page-footer__middle-top-content,
  .page-footer__right-top-content {
    min-height: 256px;
    height: 256px;
  }

  .page-footer__middle-bottom-content,
  .page-footer__right-bottom-content {
    padding-left: 7%;
    text-align: left;
    padding-top: 20px;
    min-height: 35px;
    height: 69px;
  }

  .page-footer__right-wrapper > * {
    padding-left: 4.2%;
    padding-right: 9%;
  }

  .page-footer__right-bottom-content {
    text-align: right;
    padding-right: 6.2%;

    & p {
      position: static;
    }
  }

  .page-footer__left-top-content {
    border: none;
    height: 57px;
    min-height: 57px;
    margin-right: 87px;

    & ul {
      position: absolute;
      right: 21px;
      top: 14px;
    }
  }

  .page-footer__left-bottom-content {
    height: 25px;
    min-height: 25px;
  }

  .page-footer__left-bottom-content :first-child {
    display: none;
  }

  .page-footer__middle-top-content,
  .page-footer__middle-bottom-content {
    padding-left: 7%;
  }

}

@media (max-width: $tablet-width) {

  .page-footer {
    position: relative;
    padding-bottom: 0;
  }

  .page-footer__wrapper {
    padding-top: 47px;
    padding-bottom: 10px;
  }

  .page-footer__left-wrapper {
    flex-wrap: wrap;
    padding-bottom: 111px;
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 28px;
  }

  .page-footer__left-top-content {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;

    & ul {
      transform: translateX(-50%);
      left: 50%;
      bottom: 48px;
      top: auto
    }
  }

  .page-footer__left-wrapper > * {
    padding-left: 0;
  }

  .page-footer__left-bottom-content {
    margin: 0 auto;
  }

  .page-footer__middle-wrapper,
  .page-footer__right-wrapper {
    width: 100%;
  }

  .page-footer__right-wrapper > * {
    padding-right: 0;
    padding-left: 0;
  }

  .page-footer__middle-bottom-content {
    position: absolute;
    padding: 0;
    width: 100%;
    text-align: center;
    bottom: 8px;
  }

  .page-footer__right-wrapper {
    padding-top: 29px;
  }

  .page-footer__right-top-content {
    padding-left: 10%;
    margin-bottom: 26px;
  }

  .page-footer__right-bottom-content {
    padding-top: 45px;

    & > * {
      display: block;
      text-align: center;
      margin-top: 27px;
    }
  }

  .page-footer__middle-top-content,
  .page-footer__right-top-content {
    min-height: auto;
    height: auto;
    padding-left: 5%;
    padding-bottom: 9px;
  }

  .page-footer__middle-top-content {
    padding-bottom: 2px
  }
}

